/*
* body定義
*/
/* 背景を薄くする（テーブルや文字には影響しない） */
body {
	position: relative;
	font-family: 'Press Start 2P', monospace;
	font-size: 19px;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("/img/monthlyShiftCheck/haikei.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8; /* ←背景だけ薄くなる */
	z-index: -1; /* ←画面の一番下に配置 */
	pointer-events: none; /* クリックイベントを邪魔しない */
}

errorbody {
	background-color: red;
}

#wrapper {
	width: 99%;
	height: 100%;
	padding: 0px;
}

/*
* ヘッダー、フッター共通定義
*/
#header, #businessBody, #footer {
	width: 100%;
	padding: 5px;
	margin: 0;
}

/*
* ヘッダー定義
*/
#header {
	top: 2px;
	height: 40px;
}

#headLeft {
	width: 15%;
	text-align: center;
}

#headCenter {
	font-size: 24px;
	color: #ff8040;
	width: 70%;
	text-align: center;
	text-shadow: 2px 2px 0 #000;
}

#headRight {
	width: 15%;
	text-align: center;
}
/*
* メニュー画面のボタン
*/
.menuBlock {
	margin-left: 100px;
	float: left;
	text-align: center;
	padding: 30px;
}

/*
* 業務body定義
*/
#businessBody {
	height: 82%;
	overflow: auto;
}

/*
* フッター定義
*/
#footer {
	bottom: 1%;
	height: 70px;
	width: 100%;
}

#footLeft {
	float: left;
	width: 400px;
	text-align: left;
}

#footCenter {
	width: 100%;
	text-align: center;
}

#footRight {
	float: right;
	width: 400px;
	text-align: right;
}
/*
* エラーページ ヘッダー、フッター共通定義
*/
#errorHeader, #errorBusinessBody, #errorFooter {
	width: 100%;
	margin: 0px;
	padding: 5px;
	background-color: #FFA4C6;
}

/*
* エラーページ ヘッダー定義
*/
#errorHeader {
	top: 1%;
	height: 6%;
	text-align: center;
	font-size: 24px;
	color: #FFFF00;
}

/*
* エラーページ 業務body定義
*/
#errorBusinessBody {
	top: 8%;
	height: 80%;
	overflow: auto;
	font-weight: bold;
	color: black;
}

/*
* エラーページ フッター定義
*/
#errorFooter {
	bottom: 1%;
	height: 10%;
}

#resize {
	transform: scale(0.95);
	text-align: -webkit-center;
}

#left {
	margin-left: 130px;
}

.maskedPassword {
	-webkit-text-security: disc;
}

/*
* ボタンサイズ通常
*/
.smallButton {
	width: 100px;
	height: 30px;
}

/*
* ボタンサイズ大
*/
.bigButton {
	width: 200px;
	height: 50px;
	margin: 10px 0;
}

/*
* ボタンサイズロング
*/
.longButton {
	width: 200px;
	height: 30px;
}

/*
* 戻るボタンのスタイル
*/
.backButton {
	top: 5px;
	left: 10px;
}




.tableHeader td, .tableHeader th {
	padding: 0;
	border: 1px solid black;
}
/* 日別シフト確認のテーブルヘッダー */
.tableHeaderDaily {
	background-color: #98FB98;
	font-weight: bold;
	border-collapse: collapse;
	border: 1px solid black;
	border-collapse: collapse;
	table-layout: fixed;
	width: 154px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.tableHeaderDaily td, .tableHeaderDaily th {
	padding: 0;
	border: 1px solid black;
}


.tableBody td, .tableBody th {
	padding: 0;
	border: 1px solid black;
}

/* 月別シフト確認のテーブルスタイル */
.tableBodyMonthly {
	background-color: #98FB98;
	border: 1px solid black;
	border-collapse: collapse;
}

/* 日別シフト確認のテーブルヘッダー */
.tableBodyDaily {
	background-color: #E0FFFF;
	border: 1px solid black;
	border-collapse: collapse;
	width: 154px;
	box-sizing: border-box;
	table-layout: fixed;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	table-layout: fixed;
	height: max-content;
}

.tableBodyDaily td, .tableBodyDaily th {
	padding: 0;
	border: 1px solid black;
	font-size: 15px;
	width: 100%;
}

.full-width {
	width: 100%;
}

.nomalTable {
	border: 0px solid black;
	border-collapse: collapse;
}

.nomalTable td, .nomalTable th {
	padding: 0;
	border: 0px solid black;
}

.widthTable {
	width: 1500px;
	border-collapse: collapse;
}

.widthTable td, .widthTable th {
	padding: 0;
}

.widthTable-S {
	width: 950px;
	border-collapse: collapse;
}

.widthTable-S td, .widthTable-S th {
	padding: 0;
}

.date-nav {
	text-align: center;
}

.daysTable {
	border-collapse: collapse;
	table-layout: auto;
	margin: auto;
	width: max-content;
}

.daysTable td, .daysTable th {
	padding: 0;
}

.overflowFixed {
	border-collapse: collapse;
	table-layout: auto;
	margin: auto;
	width: max-content;
}

.overflowFixed td, .overflowFixed th {
	padding: 0;
}

.dailyShiftTable {
	display: block;
	border-collapse: collapse;
	table-layout: fixed;
	overflow-x: scroll;
	overflow-y: scroll;
	margin: auto;
}

.dailyShiftTable thead {
	display: block;
	position: sticky;
	top: 0;
	box-sizing: border-box;
	z-index: 10;
	max-width: 1500px;
}

.dailyShiftTableBody {
	display: block;
	position: relative;
	box-sizing: border-box;
	max-width: 1500px;
	max-height: 400px;
}

.dailyShiftTable td, .dailyShiftTable th {
	padding: 0;
	margin: 0;
	width: 154px;
	text-align: center;
	white-space: nowrap;
}

.non-border {
	border: none !important;
}

.centered-container {
	width: 80%;
	margin: 0 auto;
}
/*
* 文字色 黒
*/
.fontBlack {
	color: black;
}

/*
* 文字色 青
*/
.fontBlue {
	color: blue;
}

/*
* 文字色 赤
*/
.fontRed {
	color: red;
}

.hadokenCursor {
	cursor: url("/img/Hadoken.png") 16 16, auto;
}

/* 画面下にキャラ8人を横並びに表示する帯 */
.character-bar {
	position: fixed;
	bottom: 20px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 70px; /* キャラの間隔 */
	pointer-events: none;
}

/* キャラ画像 */
.character-bar img {
	height: 160px; /* 全キャラの高さを揃える */
	width: auto;
	object-fit: contain;
	opacity: 0.9; /* 透明度（調整OK） */
	transition: transform 0.2s ease;
	pointer-events: auto;
}

/* ホバーした時に少し大きくする */
.character-bar img:hover {
	transform: scale(1.1);
}

.tableHeader,
.tableBody {
  border: 3px solid #000;
  background-color: #C8F0C8;
  color: #000;
  opacity: 0.8;
}

.tableBody td {
  
  background-color: #E0FFF0;
}

.tableBody td:hover {
  background-color: #FFFF99;
}