.logout-hover-img {
  position: fixed;
  left: 145px;
  bottom: 250px;
  width: 380px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease, transform 0.1s ease;
  transform: translateY(10px);
  z-index: 9999;
}

.logout-btn:hover + .logout-hover-img {
  opacity: 1;
  transform: translateY(0);
}
/* 戻るボタンエリア */
.back-area {
  position: relative;
}

/* 初期状態では非表示 */
.back-hover-img {
  position: absolute;
  bottom: -250px;   /* 下に出したい場合 */
  left: -10px;
  width: 350px;
  height: 60%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease, transform 0.1s ease;
   transform: translateY(10px);
}

/* ホバー時に表示 */
.back-area:hover .back-hover-img {
  opacity: 1;
  transform: translateY(0);
}




.title{
	width:500px;
}

#header{
	margin-bottom: 100px;
}

.marucchi{
	margin-top: 100px;
	width: 400px;
}