<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Switch Login</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

	<!-- ホワイトフラッシュ -->
	<div id="flash"></div>

	<div class="login-wrapper">

		<!-- Switch本体（ふわふわ + 傾き） -->
		<div class="switch-wrapper" id="switch">
			<img src="/img/switch_console.png" class="switch-img">

			
			<!-- ログインフォーム -->
			<form action="/kikin/dologin" method="post" id="loginForm" class="login-box">
				<input type="text" name="employeeId" placeholder="社員番号"> <input
					type="password" name="password" placeholder="パスワード">
					
				<button type="submit" id="loginButton">Login</button>
				<button type="reset" id="loginButton">Reset</button>
			</form>

		</div>
	</div>
	

	<script src="/js/login.js"></script>
</body>
</html>
