<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
<link rel="stylesheet" th:href="@{/css/switch-menu.css}">
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600&family=Inter:wght@400;500;600&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap"
	rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap"
	rel="stylesheet">
<link rel="icon" href="/img/switch_favicon.png">
</head>

<body>
	<div class="joycon joycon-left">
	
	  <!-- ボタン（透明） -->
	  <button class="joy-btn btn-a" data-key="Enter"></button>
	  <button class="joy-btn btn-b" data-key="Escape"></button>
	</div>
	<div class="joycon joycon-right">
	
	  <!-- ボタン（透明） -->
	  <button class="joy-btn btn-right" data-key="ArrowRight"></button>
	  <button class="joy-btn btn-left" data-key="ArrowLeft"></button>
	  <button class="joy-btn btn-up" data-key="ArrowUp"></button>
	  <button class="joy-btn btn-down" data-key="ArrowDown"></button>
	  
	  <button class="joy-btn btn-home" data-action="logout"></button>
	  
	</div>

	
	<img src="/img/switch_console.png" class="switch-bg">


	<!-- メニュー全体 -->
	<div class="menu-wrapper">
	
	<!-- ログインユーザーアイコン -->
	<div class="user-profile" th:if="${loginUser != null}">
	   <img class="user-icon"
							th:src="@{'/img/employee/' + ${#strings.substring(loginUser.employeeId, 2)} + '.png'}"
							onerror="this.src='/img/employee/default.png'">
	
	   <span class="user-name"
	         th:text="${loginUser.employeeName}">
	   </span>
	</div>

	
	<!-- 上部ステータス（時刻・バッテリー） -->
	<div class="status-bar">

		<span id="clock"></span>
		<img src="/img/wifi.png" class="wifi">
		<div id="battery">
			<div id="battery-level"></div>
		</div>
	</div>


		<div class="menu" id="menu">

			<div th:if="${authority_id == adminAuthority}" class="menu-inner">
			<div class="select-frame"></div>


				<div class="app-card">
					<span class="app-title">月別シフト確認</span> <a
						href="/kikin/monthlyShiftCheck"> <img src="/img/streetfighter2.jpg"
						class="app-img">
					</a>
				</div>

				<div class="app-card">
					<span class="app-title">日別シフト確認</span> <a href="/kikin/dailyShift">
						<img src="/img/iibui.png" class="app-img">
					</a>
				</div>

				<div class="app-card">
					<span class="app-title">勤務実績確認</span> <a
						href="/kikin/workRecordCheck"> <img src="/img/mother2.png"
						class="app-img">
					</a>
				</div>

				<div class="app-card">
					<span class="app-title">勤務実績入力</span> <a
						href="/kikin/workRecordInput"> <img src="/img/supermario.png"
						class="app-img">
					</a>
				</div>

				<div class="app-card">
					<!-- BGM -->

					<span class="app-title">出席希望日確認</span> <a
						href="/kikin/workDateRequestCheck">
						<img src="/img/atsumori.jpg" class="app-img">
					</a>
				</div>

				<div class="app-card">
					<span class="app-title">月別シフト入力</span> <a
						href="/kikin/monthlyShiftInput"> <img src="/img/pikmin4.jpg"
						class="app-img">
					</a>
				</div>

				<div class="app-card">
					<span class="app-title">社員マスタメンテナンス</span> <a
						href="/kikin/employeeMstMnt"> <img src="/img/sumabura.jpg"
						class="app-img">
					</a>
				</div>

				<div class="app-card">
					<span class="app-title">シフトマスタメンテナンス</span> <a
						href="/kikin/shiftMstMnt"> <img src="/img/splatoon2.jpg"
						class="app-img">
					</a>
				</div>

				<div class="app-card">
					<span class="app-title">基本シフト登録</span> <a
						href="/kikin/baseShiftInput"> <img src="/img/zelda2.png"
						class="app-img">
					</a>
				</div>

			</div>
			<div th:if="${authority_id == userAuthority}" class="menu-inner">
						<div class="select-frame"></div>

				<div class="app-card">
					<span class="app-title">月別シフト確認</span> <a
						href="/kikin/monthlyShiftCheck"> <img src="/img/streetfighter2.jpg"
						class="app-img">
					</a>
				</div>

				<div class="app-card">
					<span class="app-title">日別シフト確認</span> <a href="/kikin/dailyShift">
						<img src="/img/iibui.png" class="app-img">
					</a>
				</div>


				<div class="app-card">
					<span class="app-title">勤務実績入力</span> <a
						href="/kikin/workRecordInput"> <img src="/img/supermario.png"
						class="app-img">
					</a>
				</div>

				<div class="app-card">
					<span class="app-title">出勤希望日入力</span> <a
						href="/kikin/workDateRequestInput">
						<img
						src="/img/puchipuchi.png" class="app-img">
					</a>
				</div>
				
				<div class="app-card">
					<span class="app-title">基本シフト確認</span> <a
						href="/kikin/BaseShiftCheck"> <img src="/img/pokemon.jpg"
						class="app-img">
					</a>
				</div>
			</div>
		</div>

	<div class="bottom-bar-bg"></div>

	<!-- Switch 下部メニュー -->
	<div class="system-menu" id="systemMenu">

		<div class="bottom-select-frame" id="bottomSelectFrame"></div>

		<div class="system-icon"  data-url="https://www.nintendo.com/jp/topics/list">
			<img src="/img/news.png"><span>ニュース</span>
		</div>
		<div class="system-icon"  data-url="https://store-jp.nintendo.com/?srsltid=AfmBOoqJdf9nXj65GEtYWTnG3i35XKqs0qoCSpFc2NngmB37xyJJsccn">
			<img src="/img/store.png"><span>ストア</span>
		</div>
		<div class="system-icon">
			<img src="/img/album.png"><span>アルバム</span>
		</div>
		<div class="system-icon">
			<img src="/img/controller.png"><span>コントローラー</span>
		</div>
		<div class="system-icon">
			<img src="/img/settings.png"><span>設定</span>
		</div>
		<div class="system-icon" data-action="sleep">
 			<img src="/img/power.png"><span>スリープ</span>
		</div>

	</div>

	<div class="switch-left-icon">
		<img src="/img/switch_bottom_icon.png" alt="switch icon">
	</div>

	<div class="bottom-help" id="bottomHelp">
		<span id="help-plus"> <span class="btn-icon invert-btn">＋</span>オプション
		</span> <span id="help-a-start"> <span class="btn-icon invert-btn">A</span>はじめる
		</span> <span id="help-a-select"> <span class="btn-icon invert-btn">A</span>決定
		</span>
	</div>


	<!-- ホワイトフラッシュ -->
	<div id="flash"></div>
	</div>

	<!-- JS -->
	<script src="/js/switch-menu.js"></script>
	
	<div id="sleepOverlay">
	</div>
	
	
</body>
</html>
